*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    
}



/* HEADER DAHSBOARD */
/* regole Logo dashboard */
.navbar-custom {
    padding: 10px ;
    /* debug */
   border: solid black 4px;
   
  }
  .navbar-brand img {
    height: 30px;
  }

  /* Barra di ricerca */
  /* dropdown menu custom */
  .dropdown-toggle::after {
    display: none;
}

/* MAIN */

/* sidebar */
.sidebar {
  height: calc(100vh - 56px);
  background-color: black;

}
.main-content {
  height: calc(100vh -56px);
  background-color: #0e7cea;
}
