*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    
}

/* HEADER DAHSBOARD */
/* regole Logo dashboard */
.navbar-custom {
    padding: 10px ;
    /* debug */
   border: solid black 4px;
   
  }
  .navbar-brand img {
    height: 30px;
  }

  /* Barra di ricerca */
  /* dropdown menu custom */
  .dropdown-toggle::after {
    display: none;
}

/* MAIN */

/* sidebar */
.sidebar-custom {
  position: sticky;
  top: 56px; 
  height: calc(100vh - 56px); 
  overflow-y: auto;
  background-color: #343a40; 
  color: white;
}


.content-custom {
  height: calc(100vh - 56px);
  overflow-y: auto;
}
.nav-link {
  color: white;
}
.nav-link.active {
  background-color: #495057;
}

/* media Q SEZIONE SIDEBAR CONTENT */
@media (max-width: 768px) {
  .sidebar-custom {
      width: 60px; /* Sidebar width on mobile */
  }
  .content-custom {
      margin-left: 60px; /* Offset content to avoid overlap */
  }
  /* icone d-none in tablet */
  .nav-link i {
      display: inline-block; 
      margin-right: 0;
  }
  .nav-link span {
      display: none; /
  }
}

@media (max-width: 360px) {
  /* icone d-none in mobile */
  .nav-link i {
    display: inline-block; 
    margin-right: 0;
}


}
